<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>PictureDirect</string>2307
	<key>CFBundleIdentifier</key>
	<string>com.apitech.Picture-Direct</string>
	<key>CFBundleVersion</key>
	<string>1.3</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>PictureDirect</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcons.appiconset</string>
	<key>NSCameraUsageDescription</key>
	<string>Cette application requiert l'accès au module caméra afin de prendre des photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Cette application requiert l'accès à la galerie photos afin de choisir des photos existantes.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Cette application requiert l'accès à la galerie photos afin de choisir des photos existantes.</string>
  <key>NSLocationAlwaysUsageDescription</key>
  <string>Cette application requiert l'accès au module de géolocalisation en arrière plan afin de localiser vos photos.</string>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>Cette application requiert l'accès au module de géolocalisation afin de localiser vos photos.</string>
</dict>
</plist>
